# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\work\udagram-monolith-to-microservices\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
